<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utsoft.cc.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".okhttp.OkhttpMainActivity"
            android:exported="true" />
        <activity android:name=".retrofit.RetrofitMainActivity" />
        <activity android:name=".rxjava.RxJavaMainActivity" />
        <activity android:name=".rxandroid.RxAndroidMainActivity" />
        <activity android:name=".eventbus.EventBusMainActivity" />
        <activity android:name=".bgaBanner.BgaBannerMainActivity" />
        <activity android:name=".flycotablayout.FlycoTabMainActivity" />
        <activity android:name=".baserecyclerviewadapterhelper.RecyclerViewHelperMainActivity" />
        <activity android:name=".ultrapulltorefresh.RefreshMainActivity" />
        <activity android:name=".eventbus.EventBus2Activity" />
        <activity android:name=".bgaBanner.BgaBanner2Activity" />
        <activity android:name=".glide.GlideMainActivity" />
        <activity android:name=".realm.RealmMainActivity" />
        <activity android:name=".greendao.GreenDaoMainActivity" />
        <activity android:name=".mpandroidchart.MPAndroidChartMainActivity" />
        <activity android:name=".jiecaovideoplayer.JieCaoVideoPlayerMainActivity" />
        <activity android:name=".leakcancry.LeakCancryMainActivity"></activity>
    </application>

</manifest>